 @import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
body{
  background-color:#991914;
  font-family: 'Lato', sans-serif;
}
header{
  width:100%;
}
#logo_accueil{
  display:block;
  width:20%;
  margin-left: auto;
  margin-right: auto;
  padding:4% 1% 5% 1%;
}
#connexion{
  padding: 2% 2% 2% 2%;
  background-color: rgba(255, 255, 255, 0.9);
  width:500px;
  text-align:center;
  height:460px;
  margin-left: auto;
  margin-right: auto;
  border-radius:15px;
}
#connexion h2{
  font-weight: 900;
  font-size:3em;
}

#form_connexion{
  padding-top:5%;
}

#form_connexion input{
  margin-top:10%;
}

#button_form{
  margin-top:10%;
  background-color:#e0ae26;
  border-color:#cf870a;
  color:black;
}
#button_form:hover{
  border-color:#e0ae26;
  background-color:#cf870a;
}
